<ion-header>
  <ion-toolbar>
    <ion-title>
      Ver Mi Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row margin-top justify-content-center>
    <ion-avatar class="avatar">
      <img [src]="foto" class="back">
      <ion-icon (click)="Show_Action_Sheet()" class="circle-button front" name="add-circle"></ion-icon>
    </ion-avatar>
  </ion-row>
  <ion-row justify-content-center margin-bottom>
    <h6>
      Nombre del Repartidor
    </h6>
  </ion-row>
  <div text-center margin-top>
    <ion-row class="input-container-up">
      <ion-input class="input-login" placeholder="Nombre del Repartidor"
        (ionInput)="validate_inputs($event.target,'text')" [(ngModel)]="userData.nombre"></ion-input>
    </ion-row>
    <ion-row class="input-container-down">
      <ion-input class="input-login" placeholder="Apellido Paterno del Repartidor"
        (ionInput)="validate_inputs($event.target,'text')" [(ngModel)]="userData.apellidoPaterno"></ion-input>
    </ion-row>
    <ion-row class="input-container-down">
      <ion-input class="input-login" placeholder="Apellido Materno del Repartidor"
        (ionInput)="validate_inputs($event.target,'text')" [(ngModel)]="userData.apellidoMaterno"></ion-input>
    </ion-row>
    <ion-row class="input-container-down">
      <ion-input placeholder="Contraseña Actual" class="input-login" type="password"
        (ionInput)="validate_inputs($event.target,'password')" [(ngModel)]="userData.contrasena"></ion-input>
    </ion-row>
    <ion-row class="input-container-down">
      <ion-input placeholder="Confirmar Contraseña Actual" class="input-login" type="password"
        (ionInput)="validate_inputs($event.target,'password')" [(ngModel)]="confirmPassword"></ion-input>
    </ion-row>
    <ion-row justify-content-center>
      <a (click)="Update_Account()" class="login-text" router-direction="forward">Guardar Cambios</a>
    </ion-row>
    <ion-row justify-content-center>
      <a (click)="Cancel()" class="password-text" router-direction="back">Cancelar</a>
    </ion-row>
  </div>
</ion-content>