<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" (click)="cerrarModal()">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>informacion del Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<h3>Cliente</h3>
<p>Jesus Adrian Quiroz Palacios.</p>
<p>Paseo de la Fundacion 3314, Villas de Irapuato</p>

<h3>Productos</h3>
<p>2 Enchiladas Mayas Toks</p>
<p>Total $360</p>

<h3>Negocio</h3>
<p>Toks</p>
<p>Blvd. Villas de Irapuato #1443, Int. A-31</p>
</ion-content>
