.avatar{
    width: 23vh;
    height: 23vh;
    margin-top:10%;
}

.input-login{
    border:1px solid #ccc;
    border-radius: 6px;
    font-size:12px;
}

.input-container-up{
    width: 65%;
    margin:auto;
}

.input-container-down{
    width: 65%;
    margin: 5% auto 5% auto;
}

.login-text{
    color:#3880ff;
    margin-top:10px;
    font-size: 18px;
}

.password-text{
    color:#f04141;
    margin-top:20px;
    font-size: 18px;
}

.avatar-description{
    font-size: 17px;
    font-weight: bold;
}