<ion-header>
  <ion-toolbar>
    <ion-title>
      Restablecer Contraseña
    </ion-title>
    <!--<ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/session"></ion-back-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row margin-top justify-content-center>
    <ion-avatar class="avatar">
      <img src="assets/user.png">
    </ion-avatar>
  </ion-row>
  <ion-row justify-content-center margin-bottom>
    <p class="avatar-description">
      Ingresa tus datos
    </p>
  </ion-row>
  <div text-center margin-top>
    <ion-row class="input-container-up">
      <ion-input class="input-login" placeholder="Email" (ionInput)="validate_input($event.target,'email')"
        [(ngModel)]="usr.email"></ion-input>
    </ion-row>
    <ion-row class="input-container-down">
      <ion-input placeholder="Nueva Contraseña" class="input-login"
        (ionInput)="validate_input($event.target,'password')" type="password"
        [(ngModel)]="usr.contrasena"></ion-input>
    </ion-row>
    <ion-row class="input-container-down">
      <ion-input placeholder="Confirmar Contraseña" class="input-login"
        (ionInput)="validate_input($event.target,'new_pass')" type="password"
        [(ngModel)]="confirmPassword"></ion-input>
    </ion-row>
    <ion-row justify-content-center>
      <a (click)="Change_Password()" class="login-text" router-direction="forward">Guardar Contraseña</a>
    </ion-row>
    <ion-row justify-content-center>
      <a (click)="Cancel()" class="password-text" router-direction="back">Cancelar</a>
    </ion-row>
  </div>
</ion-content>