#map{
    height: 100%;
    width: 100%;
}

#icon{
    margin-top: 5vw;
    margin-left: 5vw;
}

.disabled{
    color:gray;
    pointer-events: none;
}

.menu{
    --padding-start: 0;
    --padding-end: 0;
    width: 45px;
    height: 45px;
}

.center{
    position: absolute;
    bottom: 10%;
    right: 2%;
    --border-radius: 50%;
    width: 65px;
    height: 65px;
}

.center-icono{
    width: 35px;
    height: 35px;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 10%;
    padding: 10px 55px 0 10px;
}

.botonRecibi{
    margin: 0 auto;
    width: 80%;
    display: block;
    margin-top: 3%;
}

.info{
    margin: 0 auto;
    color: black;
    position: absolute;
    right: 3%;
    --box-shadow: none;
    --padding-start: 0;
    --padding-end: 0;
    top: 26px;
}

.icono-info{
    width: 38px;
    height: 38px;
}

.negocio{
    margin: 0;
    text-align: center;
}

.dirNeg{
    text-align: center;
    margin: 10px 0;
}


